<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regressivo" preserve-order="false">
        <classes>
            <class name="ManutencaoVeiculoTest">
                <methods>
                    <include name="inserirNovoVeiculo" />
                    <include name="registrarNovaManutencao" />
                    <include name="registrarNovoValorOdometro" />
                    <include name="carregarListaCompletaVeiculos" />
                    <include name="editarDadosCarro" />
                </methods>
            </class>
            <class name="ManutencaoVeiculoTest" />
        </classes>
    </test>

</suite>
